# Dependencies
node_modules/

# Exclude environment files
.env

# Include Prisma migration files
!prisma/migrations/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build Directory
dist/

# Miscellaneous
# Ignore request.rest if it's not needed by others
# request.rest